[submodule "SmaliParser"]
	path = SmaliParser
	url = git@github.com:And42/SmaliParser.git
[submodule "SettingsManager"]
	path = SettingsManager
	url = git@github.com:And42/SettingsManager.git
[submodule "AndroidHelper"]
	path = AndroidHelper
	url = git@github.com:And42/AndroidHelper.git
[submodule "MVVM-Tools"]
	path = MVVM-Tools
	url = git@github.com:And42/MVVM-Tools.git
[submodule "AndroidTranslatorLib"]
	path = AndroidTranslatorLib
	url = git@github.com:And42/AndroidTranslatorLib.git
